body {
  font-size: 16px;
  color: #fff;
  background-color: #cff3ff;
  font-family: 'Roboto', sans-serif;
}
#header-nav {
  background-color: #a6a6a6;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 {
  font-size: 2em;
  font-family: 'Londrina Solid', cursive;
  color: #fff;
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0;
}
/*include both styles to stop text-decoration!!*/
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/*Navifation List*/
#nav-list {
  margin-top: 5px;
}
#nav-list a {
  font-size: 1em;
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  color: #a6a6a6;
  background: #cff3ff;
}
#map-tile {
  height: 250px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: none;
}
.navbar-toggle .collapsed span .icon-bar {
  color: #fff;
}


#menu-tile, #contact-tile, #map-tile {
  height: 275px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  background-color: #a6a6a6;
  border-radius: 5px;
  overflow: hidden;
}
#menu-tile:hover, #contact-tile:hover, #map-tile:hover {
  box-shadow: 0 2px 4px 2px #ccc;
}
#menu-tile span, #contact-tile span, #map-tile span {
  font-family: 'Londrina Solid', cursive;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  text-align: center;
  font-size: 1.25em;
  background-color: #fff;
  color: #6a6a6a;
}
#menu-tile p, #contact-tile p {
  padding: 10px;
  overflow: auto;
  color: #fff;
}
#menu-tile span {
  background: #ff8080;
}
#contact-tile span {
  background: #ffff99;
}
#map-tile span {
  background: #b3e6b3;
}
#main-content a:hover, #main-content a:focus {
  text-decoration: none;
}

/*xs devices*/
@media (max-width: 767px) {

  /*Header*/
  .navbar-brand {
    height: 70px;
  }
  .navbar-brand h1 {
    font-family: 'Londrina Solid', cursive;
  }
  #menu-tile, #contact-tile {
    margin: 0 auto 15px;
  }

}
